<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SABnzbd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/flat-ui.css" rel="stylesheet">
    <link href="static/css/merlin.css" rel="stylesheet">

    <!--
    <link rel="shortcut icon" href="static/images/favicon.ico">
    -->

    <!-- HTML5 shim, for IE support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#queue">$T('menu-queue')</a></li>
                    <li><a href="#history">$T('menu-history')</a></li>
                    <li><a href="#status">$T('menu-cons')</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#addNZB" data-toggle="modal" data-target="#addNZB">Add NZB</a></li>
                    <li><a href="#" data-bind="{text: misc.pause, click: misc.pauseClick, css: misc.pause}"></a></li>
                    <li><a href="#options" data-toggle="modal" data-target="#options">Options</a></li>
                    <li><a href="./config/">Settings</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Power <b class="caret"></b></a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-bind="click: misc.shutdown">Shutdown</a></li>
                            <li><a href="#" data-bind="click: misc.restart">Restart</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </div> <!-- /.navbar -->
    <div class="spacer"></div>
    <div class="container">

        <!-- Options Model Box -->
        <div class="modal fade" id="options" tabindex="-1" role="dialog" aria-labelledby="optionsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="optionsLabel">Options</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="refreshRate">Refresh Rate</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                	<div class='input-group'>
                                    	<input id="refreshRate" type="text" pattern="\d*" placeholder="1" class="form-control" />
                                    	<span class="input-group-addon">Second(s)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="speedLimit">Speed Limit</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                	<div class='input-group'>
	                                    <input id="speedLimit" type="text" pattern="\d*" placeholder="1000" class="form-control" />
	                                    <span class="input-group-addon">KB/s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="queueRows">Item Limit</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                	<div class='input-group'>
	                                    <input id="itemLimit" type="text" pattern="\d*" placeholder="10" class="form-control" />
	                                    <span class="input-group-addon">Rows</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 copy">
                                <a href="https://github.com/sloth-o-naut/merlin/">Merlin Project</a><br />
                            </div>
                            <div class="col-xs-6 copy" style="text-align: right">
                                <a href="http://sloth-o-naut.com">Sloth-o-naut.com</a> | <a href="https://twitter.com/koningjasper">@KoningJasper</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-bind="click: saveOption">Save changes</button>
                    </div>
                </div>
            </div>
        </div><!-- ./modal -->

        <!-- Add NZB modal -->
        <div class="modal fade" id="addNZB" tabindex="-1" role="dialog" aria-labelledby="addNZBLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="addNZBLabel">Add NZB</h4>
                    </div>
                    <div class="modal-body">
                    	<div class='row'>
                    		<div class='col-xs-6'>
                    			<div class='center'><span>Add by URL</span></div>
                    			<div class="form-group">
	                                <input id="nzbURL" type="text" placeholder="http://dognzb.cr/login" class="form-control" class='input-group' />
                                </div>
                    		</div>
                    		<div class='col-xs-6'>
                    			<div class='center'><span>By File Upload</span></div>
                    			<div class="form-group">
	                                <input id="nzbFile" type="file" class="form-control input-group" />
                                </div>
                    		</div>
                    	</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-bind="click: misc.addNZB">Add NZB</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./modal-->

        <!-- Updates -->
        <div class="updates">
        </div><!-- ./updates -->

        <!-- Warnings -->
        <div class="alert alert-dismissable alert-warning" id='warnings' style='display: none;' data-bind="html: displayWarnings">
        </div><!-- ./warnings -->

		<!-- Speed Graph -->
		<div id="speedGraph" style="min-width: 100%; height: 400px; margin: 0 auto;">
		</div><!-- ./speedGraph -->

        <!-- Queue -->
        <a name='queue'></a>
        <div class="queue panel panel-primary">
        	<div class='panel-heading'>
        		<div class='row'>
	        		<div class='col-xs-6'>
	        			<span id='queueLead' class="lead" data-bind="text: misc.queueLead">Queue</span>
	        		</div>
	        		<div class='col-xs-6 clearButton'>
	        			<button type='button' class='btn btn-danger btn-xs clearBtn' data-bind='queue.clear'>Clear</button>
	        		</div>
        		</div>
        	</div>
            <ul class='list-group' id="queueList" data-bind="foreach: queue.item">
            	<li class='list-group-item queueListItem'>
            		<input type='hidden' id='nzo_id' data-bind="value: nzo_id" />
                    <div class='row'>
                        <div class='col-xs-9'>
                            <p class='list-group-item-text' data-bind="text: name"></p>
                            <p class='list-group-item-text' data-bind="text: sizeleft"></p>
                        </div>
                        <div class='col-xs-3 deleteButton'>
                        	<span class='btn btn-default btn-xs sortHandle'>Move</span>
                            <button class='btn btn-warning btn-xs' data-bind="click: queue.delete">Delete</button>
                            <button class='btn btn-info btn-xs' data-bind="click: queue.info">Info</button>
                            <button class='btn btn-danger btn-xs' data-bind="click: queue.pause">Pause</button>
                        </div>
                    </div>
                    <div class='rowSpacer'></div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class='progress'>
                            	<div class='progress-bar' role='progressbar' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100' data-bind="style: { width: progress }"><span data-bind="text: progress"></span></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- ./queue -->

        <!-- History -->
        <a name='history'></a>
        <div class="history panel panel-primary">
        	<div class='panel-heading'>
	        	<div class='row'>
	        		<div class='col-xs-6'>
	        			<span id='historyLead' class="lead">History</span>
	        		</div>
	        		<div class='col-xs-6 clearButton'>
	        			<button type='button' class='btn btn-danger btn-xs clearBtn' data-bind="click: hist.clear">Clear</button>
	        		</div>
	        	</div>
	        </div>
            <ul class='list-group' id="historyList" data-bind="foreach: hist.item">
            	<li class='list-group-item historyListItem' id='history'>
            		<input type='hidden' id='nzo_id' data-bind="value: nzo_id" />
                    <div class='row'>
                        <div class='col-xs-10'>
                            <p class='list-group-item-text' data-bind="text: name"></p>
                        </div>
                        <div class='col-xs-2 deleteButton'>
                            <button class='btn btn-info btn-xs infoBtn' data-bind="click: hist.info">Info</button>
                            <button class='btn btn-warning btn-xs' id='deleteBtn' data-bind="click: hist.delete">Delete</button>
                        </div>
                    </div>
                    <div class='row info' style='display: none;'>
                        <div class='col-xs-11'>
                            <div class='row'>
                                <div class='col-xs-2'><span class='list-group-item-text'>Status:</span></div>
                                <div class='col-xs-9'><span class='list-group-item-text' data-bind="text: status"></span></div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-2'><span class='list-group-item-text'>Location:</span></div>
                                <div class='col-xs-9'><span class='list-group-item-text' data-bind="text: storage"></span></div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-2'><span class='list-group-item-text'>Downloaded:</span></div>
                                <div class='col-xs-9'><span class='list-group-item-text' data-bind="text: downloaded"></span></div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-2'><span class='list-group-item-text'>Post:</span></div>
                                <div class='col-xs-9'><span class='list-group-item-text' data-bind="text: postTime"></span><span class='list-group-item-text'> Sec.</span></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- ./history -->

        <!-- ServerList -->
		<a name='server'></a>
		<div class='server panel panel-default'>
			<div class='panel-heading'>
	        	<span id='statusLead' class="lead">Servers</span>
	        </div>
	        <table class='table' id='serverList' data-bind="foreach: servers.item">
	        	<tr>
	        		<td><span class='ball' data-bind='css: color'></span></td>
	        		<td><span data-bind="text: host"></span></td>
	        		<td><span data-bind="text: connections"></span></td>
	        	</tr>
	        </table>
		</div><!-- ./serverList -->

		<!-- Status -->
        <a name='status'></a>
        <div id='status' class="Status panel panel-danger">
        	<div class='panel-heading'>
	        	<div class='row'>
	        		<div class='col-xs-6'>
	        			<span id='statusLead' class="lead">Status</span>
	        		</div>
	        		<div class='col-xs-6 clearButton'>
	        			<button type='button' class='btn btn-danger btn-xs clearBtn' data-bind='click: stat.clear'>Clear</button>
	        		</div>
	        	</div>
	        </div>
            <ul class='list-group' id="statusList" data-bind="foreach: stat.item">
            	<li class='list-group-item historyListItem'>
            		<div class='row'>
            			<div class='col-xs-2'>
            				<p class='list-group-item-text statusText' data-bind='text: type'></p>
            			</div>
            			<div class='col-xs-7'>
            				<p class='list-group-item-text statusText' data-bind='text: message'></p>
            			</div>
            			<div class='col-xs-3'>
            				<p class='list-group-item-text statusText' data-bind='text: time'></p>
            			</div>
            		</div>
            	</li>
            </ul>
        </div><!-- ./status -->
    </div><!-- /.container -->
    
    <!-- JS -->
    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script src="static/js/jquery-ui-1.10.4.min.js"></script>
    <script src="static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src='static/js/highcharts.js'></script>
    <script src='static/js/knockout-3.1.0.js'></script>
    <script type="text/javascript">
        var apiKey = "$session"; // SABnzbd API-key
    </script>
    <script src="static/js/merlin.js"></script>
  </body>
</html>
